<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">
<%include partials/head %>
<link rel="stylesheet" href="css/profile.css" type="text/css">
<link rel="stylesheet" href="css/navbar.css" type="text/css">
</head>

<body>
  <% include partials/navbar.ejs %>
  <div class="container profile-page-wrapper">
    <div class="columns">
      <div class="column">
        <!-- Profile card -->
        <div id="profile_info" class="card profile-container">

        </div>
        <!-- end Profile card -->
      </div>
    </div>
    </section>

    <% include partials/footer %>
    <script src="js/var.js"></script>
    <script src="js/navbar.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- production version, optimized for size and speed -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
    <script src="js/profile.js"></script>
</body>

</html>