<!DOCTYPE html>
<html lang="en">
<%include partials/head %>
  <link rel="stylesheet" href="css/auth-page.css" type="text/css">
  </head>

  <body>
    <section class="hero is-success is-fullheight">
      <div class="hero-body">
        <div class="container has-text-centered">
          <div class="column is-4 is-offset-4">
            <% if (hasErrors) {%>
              <div class="notification is-danger">
                <button class="delete is-small"></button>
                <% _.forEach(messages, function(error){ %>
                  <p>
                    <%= error %>
                  </p>
                <% }) %>
              </div>
            <% } %>
            <h3 class="title has-text-grey">Signup</h3>
            <p class="subtitle has-text-grey">Please signup to proceed.</p>
            <a style="margin-right: 10px;" href="/auth/facebook" class="button is-link is-medium is-outlined" title="Signup with Facebook">
              <span class="icon">
                <i class="fab fa-facebook"></i>
              </span>
              <span>Facebook</span>
            </a>
            <a href="/auth/google" class="button is-danger is-medium is-outlined" title="Signup with Google">
              <span class="icon">
                <i class="fab fa-google"></i>
              </span>
              <span>Google</span>
            </a>
            <div class="box">
              <figure class="avatar">
                <img width="128" height="128" src="/images/signup.jpg">
              </figure>
              <form action="/signup" method="post">
                <div class="field">
                  <div class="control">
                    <input name="username" class="input is-large" type="text" placeholder="Your Username" autofocus="" value="<%= data.username %>">
                  </div>
                </div>

                <div class="field">
                  <div class="control">
                    <input name="email" class="input is-large" type="email" placeholder="Your Email" autofocus="" value="<%= data.email %>">
                  </div>
                </div>

                <div class="field">
                  <div class="control">
                    <input name="password" class="input is-large" type="password" placeholder="Your Password">
                  </div>
                </div>
                <button type="submit" style="margin-top: 2.2rem;" class="button is-block is-info is-large is-fullwidth">Signup</button>
              </form>
            </div>
            <p class="has-text-grey">
              <a href="/">Login</a> &nbsp;·&nbsp;
              <a href="../">Forgot Password</a> &nbsp;·&nbsp;
              <a href="../">Need Help?</a>
            </p>
          </div>
        </div>
      </div>
      <div class="hero-foot has-text-centered">
        <% include partials/copyright %>
      </div>
    </section>
    <% include partials/footer %>
  </body>

</html>