<!-- views/partials/head.ejs -->
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <meta name="description" content="Chat Application" />
  <meta name="keywords" content="Chat Application, Messenger" />
  <title><%= title %></title>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#9f00a7">
  <meta name="theme-color" content="#ffffff">

  <!-- Place Code for google analytics -->

  <!-- css files -->
  <!-- <link rel="stylesheet" href="css/bulma.min.css" type="text/css"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  
  <style>
    .copyrights {
      color: #262626;
      font-weight: 400;
    }
    .copyrights a {
      font-weight: 500;
    }
    a:hover {
      color: #262626 !important;
      text-decoration: underline !important;
    }
    a.button:hover {
      color: #fff !important;
      text-decoration: none !important;
    }
    a.navbar-link:hover, a.navbar-item:hover {
      text-decoration: none !important;
    }
    .is-hidden {
      display: none;
    }
    .main-nav {
      padding: 0 !important;
    }
  </style>
