<nav class="navbar is-fixed-top has-shadow is-spaced">
  <div class="container main-nav">
    <div class="navbar-brand">
      <a class="navbar-item" href="/home">
        <div class="logo"></div>
        <!-- <img src="/images/logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28"> -->
      </a>
      <div class="navbar-burger burger" data-target="navbarMessenger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div id="navbarMessenger" class="navbar-menu">
      <!-- <div class="navbar-start">
        <a class="navbar-item" href="/">
          Home
        </a>
      </div> -->

      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <div class="navbar-link">
            <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
          </div>
          <div class="navbar-dropdown">
            <a class="navbar-item">
              <span class="icon is-medium has-text-info">
                <i class="fas fa-lg fa-user-circle"></i>
              </span>
              Profile Details
            </a>
            <a class="navbar-item" href="/logout">
              <span class="icon is-medium has-text-danger">
                <i class="fas fa-lg fa-sign-out-alt"></i>
              </span>
              Logout
            </a>
            <hr class="navbar-divider">
            <div style="text-align: center;" class="navbar-item">
              <strong>debotosdas@gmail.com</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>