nav.navbar {
  border-top: 4px solid #276cda;
  margin-bottom: 1rem;
}

.navbar-brand .navbar-item .logo {
  background: url(../images/logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 28px;
  width: 112px;
}

.navbar-brand .navbar-item:hover {
  background-color: #fff;
  pointer-events: stroke;
}

.navbar-item img {
  max-height: 32px;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .navbar-end .navbar-item.has-dropdown.is-hoverable {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .navbar-dropdown {
    margin-top: -2rem;
    font-size: .875rem;
    padding-bottom: .5rem;
    padding-top: 0;
  }
  .navbar-item img {
    max-height: 128px;
    border-radius: 50%;
  }
}